:root {
    --purple: #a13aff;
    --blue: #1fd0f9;
    --white: #ffffff;
    --red: #e20844;
    --text-color: #121212;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    background-image: linear-gradient(135deg, var(--purple), var(--blue));
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 72px 36px;
    width: 500px;
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.1);
}
.title {
    margin-bottom: 64px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
    color: var(--text-color);
}
#sign-up-form {
    width: 100%;
}
.form-group + .form-group {
    margin-top: 32px;
}
input {
    padding: 8px 0;
    width: 100%;
    font-size: 16px;
    color: var(--text-color);
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    transition: all 0.4s ease;
}
input:focus {
    border-bottom-color: var(--blue);
}
.form-group.invalid  input{
    border-bottom-color: var(--red);
}
.error-message {
    display: inline-block;
    margin-top: 8px;
    font-weight: 500;
    color: var(--red);
}
#submit {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 64px;
    padding: 10px 64px;
    font-size: 24px;
    font-weight: 500;
    color: var(--white);
    background-image: linear-gradient(135deg, var(--blue), var(--purple));
    border: none;
    border-radius: 60px;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease;
}
#submit:hover {
    opacity: 0.8;
}